## Unity ##
# Ignore Library folder
Library/

# Ignore UserSettings folder
UserSettings/

# Ignore Logs folder
Logs/

#Ignore 
Assembly-CSharp.csproj
Temp/FSTimeGet-1db56986e17988d4188971f50b8908a2
Temp/FSTimeGet-3af014358be9d3e478f1292a0fcaf3e5
Temp/FSTimeGet-4a0649d684f868f43b1873e1519afbd2
Temp/UnityLockfile
Temp/workerlic
Temp/__Backupscenes/0.backup
Temp/__Backupscenes/0.backup
.vs/Hero-Adventure-Game/v17/.suo
.vs/Hero-Adventure-Game/v17/DocumentLayout.backup.json
.vs/Hero-Adventure-Game/v17/DocumentLayout.json
.vs/Hero-Adventure-Game/v17/.suo
.vs/Hero-Adventure-Game/v17/DocumentLayout.backup.json
.vs/Hero-Adventure-Game/v17/DocumentLayout.json
*.vsidx
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Temp/__Backupscenes/0.backup
