## Unity ##
# Ignore Library folder
Library/

# Ignore UserSettings folder
UserSettings/

# Ignore Logs folder
Logs/

#Ignore 
Assembly-CSharp.csproj
Temp/FSTimeGet-1dcb74a2409eaaa4caaad3ba9aa6587b
Assembly-CSharp.csproj
